html, body { background: #ffffff !important; }

a {font:300 14px/14px Arial, sans-serif;text-decoration:none;}
a:hover {text-decoration:none;}
li {list-style:none;}
ul {margin:0;padding:0;}

.Container {max-width:1024px;margin:100px auto 0;width:100%;}
.Container label {width:25%;padding:10px;text-align:right;float:left;}
.Container input {width:65%;border:1px solid #666;padding:10px;float:left;}

.Container ul {width:65%;float:left;margin-left:25%;padding:30px;}
.Container ul li {float:left;width:100%;border-bottom:1px dotted #666;padding:5px;}
.Container ul li a {float:left;width:100%;color:#000;padding:5px 0;}
.Container ul li a:hover {background:red;}
